actions==1.0.3
atomicwrites==1.4.0
attrs==21.2.0
bunch==1.0.1
chainmap==1.0.3
colorama==0.4.4
combomethod==1.0.12
iniconfig==1.1.1
MouseInfo==0.1.3
nulltype==2.3.1
options==1.4.10
packaging==20.9
pluggy==0.13.1
py==1.10.0
PyAutoGUI==0.9.52
PyGetWindow==0.0.9
PyMsgBox==1.0.9
pyparsing==2.4.7
pyperclip==1.8.2
PyRect==0.1.4
PyScreeze==0.1.27
pytest==6.2.4
PyTweening==1.0.3
selenium==3.141.0
six==1.12.0
toml==0.10.2
urllib3==1.26.4
